CONTROL_ENV=development
CONTROL_ADDRESS=:8080
CONTROL_DEV_LOGIN_SUBJECT=logto_01vf9k2
CONTROL_TRUST_AUTH_HEADERS=false
CONTROL_ALLOWED_ORIGINS=http://localhost:5173
CONTROL_DATABASE_URL=
CONTROL_DATABASE_MAX_OPEN=5
CONTROL_DATABASE_MAX_IDLE=2
